{% comment %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'reg.css' %}">
    <title></title>
</head>
<body>
    <div>
        <img  src="{% static 'image/pulsar.jpeg'%}" width="450px" height="250px">
        <p> Name :- Pulsar </p>
        <p> Model Name :- Pulsar 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- Pulsar 200 </p>
        <p> Color :- Black </p>
    </div>
    <div>
        <img  src="{% static 'image/ktm.jpeg'%}" width="450px" height="250px">
        <p> Name :- Ktm </p>
        <p> Model Name :- Ktm 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- Ktm 300 </p>
        <p> Color :- Black </p>
    </div>
    <div>
        <img  src="{% static 'image/passion.jpeg'%}" width="450px" height="250px">
        <p> Name :- Passion Pro </p>
        <p> Model Name :- Pro 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- Passion 150 </p>
        <p> Color :- Red </p>
    </div>

    <div>
        <img  src="{% static 'image/r6.jpeg'%}" width="450px" height="250px">
        <p> Name :- R6 </p>
        <p> Model Name :- R6 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- R6 300 </p>
        <p> Color :- Black </p>
    </div>
    <div>
        <img  src="{% static 'image/r15.jpeg'%}" width="450px" height="250px">
        <p> Name :- R15 </p>
        <p> Model Name :- R15 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- R15 180 </p>
        <p> Color :- Black </p>
    </div>
    <div>
        <img  src="{% static 'image/FZ.jpeg'%}" width="450px" height="250px">
        <p> Name :- FZ </p>
        <p> Model Name :- FZ 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- FZ 160 </p>
        <p> Color :- Green </p>
    </div>
    <div>
        <img  src="{% static 'image/bmw.jpeg'%}" width="450px" height="250px">
        <p> Name :- BMW </p>
        <p> Model Name :- BMW 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- BMW 350 </p>
        <p> Color :- Black </p>
    </div>
    <div>
        <img  src="{% static 'image/zixer.jpeg'%}" width="450px" height="250px">
        <p> Name :- ZIXER </p>
        <p> Model Name :- Zixer 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- Zixer 160 </p>
        <p> Color :- Blue </p>
    </div>
    <div>
        <img  src="{% static 'image/harley.jpeg'%}" width="450px" height="250px">
        <p> Name :- Harley </p>
        <p> Model Name :- Harley 2022 </p>
        <p> Type :- Petrol </p>
        <p> CC :- Harley 750 </p>
        <p> Color :- White </p>
    </div>
    

</body>
</html> {% endcomment %}
