
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'reg.css' %}">
    <title></title>
</head>
<body>
 
    <div>
        <h1>Thankyou for Register</h1>
        <br>
        <br>
        <h2>Sucessfully Register :)</h2>
       
    </div>
    <h2>
    <div class="container signin">
        <p>Already have an account? 
            <a href="login">login</a>.</p>
      </div>
    </h2>
 
    

</body>
</html>
